########################################################
# DragonStreams
########################################################
#
########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@
########################################################
skill=videoTitle
catcher=streams
########################################################
title=[COLOR=FF00FF00]Welcome to Dragon Streams This is a Work In Progress Hope you enjoy[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=tv/none.cfg
########################################################
########################################################
title=[COLOR=FF00FF00]General Networks[/COLOR]
cfg=mainMenu.cfg@Channels
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/General.jpg
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/Share.xml
########################################################
title=[COLOR=FF00FF00]News Networks[/COLOR]
cfg=mainMenu.cfg@Channels
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/News.jpg
url=Various/News.cfg
########################################################
#title=[COLOR=blue]iLive Sports[/COLOR]
#type=rss
#genre=TV
#icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/iLiveNews.jpg
#cfg=ilive.to.cfg@Channels@http://www.ilive.to/channels/Live Sport
#url=http://www.ilive.to/channels/Live Sport
########################################################
title=[COLOR=FF00FF00]Coolsport.tv[/COLOR]
director=coolsport.tv
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Coolsport.jpg
cfg=tv/coolsportz.de.cfg@Channels@http://www.coolsport.se/
url=http://www.coolsport.se/
########################################################
title=[COLOR=FF00FF00]SkySport.tv[/COLOR]
director=cricfree.tv
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/SkySport.jpg
cfg=tv/cricfree.tv.cfg@Channels@http://cricfree.sx/live/index.php
url=http://cricfree.sx/live/index.php
########################################################
title=[COLOR=FF00FF00]FifaEmbed.com[/COLOR]
director=fifaembed.com
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Fifaembed.jpg
url=tv/fifaembed.com.cfg
########################################################
title=[COLOR=FF00FF00]NFL Streams[/COLOR]
cfg=mainMenu.cfg@Channels
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/NFLStreams.jpg
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/List.xml
########################################################
title=[COLOR=FF00FF00]WWE/UFC Replays[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/WWEUFCReplays.jpg
url=Replays/ppvdirect.menu.cfg
########################################################
title=[COLOR=red]Upcoming Events[/COLOR]
director=DragonStreams
cfg=Various/Calender.cfg@Channels@http://intech-av.com/K1m05/EStreams/Calender.xml
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Upcoming.jpg
url=http://intech-av.com/K1m05/EStreams/Calender.xml
########################################################
title=[COLOR=FF00FF00]PPV Streams[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/PPVStreams.jpg
url=dragonstreams.cfg
########################################################
@ENDIF@
@ENDIF@
########################################################
@IF(@PARAM1@==Channels)@
########################################################
skill=videoTitle
skill=allowDuplicates
catcher=streams
########################################################
item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon.tmp|url
item_skill=rss
########################################################
item_info_name=icon
item_info_from=icon.tmp
item_info_build=%s
########################################################
item_url_build=%s
########################################################
@ENDIF@
########################################################       
@ENDIF@  
########################################################
