########################################################
# DragonStreams
########################################################
#
########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@
########################################################
skill=videoTitle
catcher=streams
########################################################
title=[COLOR=red]Got PPV Streams sorted, check there for your NFL 2night[/COLOR]
director=DragonStreams
cfg=Various/Calender.cfg@Channels@http://NoLink.xml
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=http://Nolink.xml
########################################################
title=[COLOR=blue]Dragon Message Center[/COLOR]
director=DragonStreams
cfg=Various/Calender.cfg@Channels@http://dl.dropbox.com/s/zfuhuboog5unva2/MessageCenter.xml
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=http://dl.dropbox.com/s/zfuhuboog5unva2/MessageCenter.xml
########################################################
title=[COLOR=red]Upcoming Events[/COLOR]
director=DragonStreams
cfg=Various/Calender.cfg@Channels@http://dl.dropboxusercontent.com/s/sn9ibujdxbkzx8t/Calander.xml
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Upcoming.jpg
url=http://dl.dropbox.com/s/sn9ibujdxbkzx8t/Calander.xml
########################################################
title=[COLOR=FF00FF00]PPV/Event Streams[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/PPVStreams.jpg
url=dragonstreams.cfg
########################################################
title=[COLOR=FF00FF00]News Networks[/COLOR]
cfg=mainMenu.cfg@Channels
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/News.jpg
url=Various/wiz1.cfg
########################################################
title=[COLOR=FF00FF00]General Networks[/COLOR]
cfg=mainMenu.cfg@Channels
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/General.jpg
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/Share.xml
########################################################
title=[COLOR=FF00FF00]News Networks[/COLOR]
cfg=mainMenu.cfg@Channels
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/News.jpg
url=Various/News.cfg
########################################################
title=[COLOR=FF00FF00]iLive Sports[/COLOR]
type=rss
genre=TV
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/iLiveSports.jpg
cfg=ilive.to.cfg@Channels@http://www.ilive.to/channels/Live%2520Sport?sort=1
url=http://www.ilive.to/channels/Live%2520Sport?sort=1
########################################################
title=[COLOR=red]Wiz1.net[/COLOR]
director=DragonStreams
cfg=Various/wiz1.net.cfg@Channels@http://www.wiz1.net/schedule
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Urshoes.jpg
url=Various/wiz1.net.cfg
########################################################
title=[COLOR=red]navi-x[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Urshoes.jpg
url=Various/navix.cfg
########################################################
#title=[COLOR=FF00FF00]Coolsport.tv[/COLOR]
#director=coolsport.tv
#icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Coolsport.jpg
#cfg=tv/coolsportz.de.cfg@Channels@http://www.coolsport.pw/
#url=http://www.coolsport.pw/
########################################################
#title=[COLOR=FF00FF00]StreamKing.org[/COLOR]
#director=streamking.org
#icon=
#url=Various/streamking.org.cfg
########################################################
title=[COLOR=FF00FF00]SkySport.tv[/COLOR]
director=cricfree.tv
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/SkySport.jpg
cfg=tv/cricfree.tv.cfg@Channels@http://cricfree.sx/live/index.php
url=http://cricfree.sx/live/index.php
########################################################
title=[COLOR=FF00FF00]FifaEmbed.com[/COLOR]
director=fifaembed.com
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Fifaembed.jpg
url=tv/fifaembed.com.cfg
########################################################
title=[COLOR=FF00FF00]NFL Streams[/COLOR]
cfg=Varoius/NFLDirectory.cfg@Channels
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/NFLStreams.jpg
url=http://intech-av.com/K1m05/EStreams/Other/NFL.xml
########################################################
title=[COLOR=FF00FF00]PAC Networks[/COLOR]
director=DragonStreams
cfg=Various/Calender.cfg@Channels@https://k1m0s.googlecode.com/svn/trunk/Livestreams/Events.xml
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/PacNetworks.jpg
url=https://k1m0s.googlecode.com/svn/trunk/Livestreams/Events.xml
########################################################
title=[COLOR=FF00FF00]WWE/UFC Replays[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/WWEUFCReplays.jpg
url=Replays/Directory.cfg
########################################################
title=[COLOR=red]If you care to Donate do so @ doiop.com/DragonStreams[/COLOR]
director=DragonStreams
cfg=Various/Calender.cfg@Channels@NO-LINK
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Donate.jpg
url=NO-LINK
########################################################
@ENDIF@
@ENDIF@
########################################################
@IF(@PARAM1@==Channels)@
########################################################
skill=videoTitle
skill=allowDuplicates
catcher=streams
########################################################
item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon.tmp|url
item_skill=rss
########################################################
item_info_name=icon
item_info_from=icon.tmp
item_info_build=%s
########################################################
item_url_build=%s
########################################################
@ENDIF@
########################################################       
@ENDIF@  
########################################################
