########################################################
title=[COLOR=FF00FF00]iLive Sports[/COLOR]
director=ilive.to
cfg=ilive.to.cfg@Channels@http://www.ilive.to/channels/Live%2520Sport?sort=1
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/iLiveSports.jpg
url=ilive.to.cfg@Channels@http://www.ilive.to/channels/Live%2520Sport?sort=1
########################################################
title=[COLOR=FF00FF00]SkySport.tv[/COLOR]
director=cricfree.tv
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/SkySport.jpg
url=tv/cricfree.tv.cfg@Channels@http://cricfree.sx/live/index.php
########################################################
title=[COLOR=FF00FF00]FifaEmbed.com[/COLOR]
director=fifaembed.com
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/Fifaembed.jpg
url=tv/fifaembed.com.cfg
########################################################
title=[COLOR=FF00FF00]PAC Networks[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/PacNetworks.jpg
url=Various/Calender.cfg@Channels@https://k1m0s.googlecode.com/svn/trunk/Livestreams/Events.xml
########################################################
title=[COLOR=FF00FF00]WWE/UFC Replays[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.sports/resources/images/DS/WWEUFCReplays.jpg
url=Replays/Directory.cfg


