########################################################
# Highlights
########################################################
@IF(@PARAM1@!=Streams)@
@IF(@PARAM1@!=Catch)@

########################################################
title=[COLOR=red]Saturday July 26th[/COLOR]
type=rss
genre=TV
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
cfg=tv\fifaembed.com.cfg
url=http://upcoming1.com
########################################################
title=[COLOR=FF00FF00]UFC Fight Night[/COLOR]
type=rss
genre=TV
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=http://3.bp.blogspot.com/-IrFrFV4f_Dw/UOcOaZTCoZI/AAAAAAAAD7E/LTnUpq_mWzE/s1600/ufc-fight-night-logo+copia.png
cfg=tv\fifaembed.com.cfg
url=http://upcoming2.com
########################################################
title=[COLOR=FF00FF00]Robbie Lawler vs. Matt Brown[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=https://pbs.twimg.com/media/BtBq6zPCYAEkIM6.jpg
url=plugin://plugin.video.youtube/?path=/root/video&action=play_video&videoid=0mptHMU2S7c
########################################################



########################################################
title=[COLOR=white]09:00 AM [/COLOR][COLOR=red]-[/COLOR][COLOR=white] 12:00 PM Formula One : Hungarian Grand Prix[/COLOR][COLOR=FF00FF00] Stream 1[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=dragonstreams.cfg
########################################################
title=[COLOR=white]01:00 PM [/COLOR][COLOR=red]-[/COLOR][COLOR=white] 05:30 PM 2014 NASCAR Sprint Cup: Brickyard 400[/COLOR][COLOR=FF00FF00] Stream 3[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=dragonstreams.cfg
########################################################
title=[COLOR=white]03:00 PM [/COLOR][COLOR=red]-[/COLOR][COLOR=white] 07:00 PM World Matchplay Darts :[/COLOR][COLOR=FF00FF00] Stream 2[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=dragonstreams.cfg
########################################################
title=[COLOR=white]04:50 PM [/COLOR][COLOR=red]-[/COLOR][COLOR=white] 12:00 AM Caribbean Premier League T20 Cricket : Trinidad and Tobago Red Steel vs. St Lucia Zouks[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=dragonstreams.cfg
########################################################
title=[COLOR=white]05:00 PM [/COLOR][COLOR=red]-[/COLOR][COLOR=white] 07:00 PM International Champions Cup: Manchester City vs. AC Milan[/COLOR][COLOR=FF00FF00] Stream 5[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=dragonstreams.cfg
########################################################
title=[COLOR=white]05:00 PM [/COLOR][COLOR=red]-[/COLOR][COLOR=white] 07:00 PM International Champions Cup : Manchester City vs. AC Milan[/COLOR][COLOR=FF00FF00] Stream 2[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=dragonstreams.cfg
########################################################
title=[COLOR=white]06:00 PM [/COLOR][COLOR=red]-[/COLOR][COLOR=white] 12:00 AM Sky Sports News[/COLOR][COLOR=FF00FF00] Stream 6[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=dragonstreams.cfg
########################################################
title=[COLOR=white]07:00 PM [/COLOR][COLOR=red]-[/COLOR][COLOR=white] 09:00 PM International Champions Cup: Olympiakos Piraeus vs. Liverpool[/COLOR][COLOR=FF00FF00] Stream 5[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=dragonstreams.cfg
########################################################
title=[COLOR=white]07:00 PM [/COLOR][COLOR=red]-[/COLOR][COLOR=white] 09:00 PM International Champions Cup : Liverpool vs. Olympiacos[/COLOR][COLOR=FF00FF00] Stream 2[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=dragonstreams.cfg
########################################################



########################################################
title=[COLOR=red]Saturday August 16th[/COLOR]
type=rss
genre=TV
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=special://home/addons/plugin.video.dragon.sports/icon.png
url=http://upcoming3.com
########################################################
title=[COLOR=FF00FF00]UFC Fight Night[/COLOR]
type=rss
genre=TV
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=http://3.bp.blogspot.com/-IrFrFV4f_Dw/UOcOaZTCoZI/AAAAAAAAD7E/LTnUpq_mWzE/s1600/ufc-fight-night-logo+copia.png
url=http://upcoming4.com
########################################################
title=[COLOR=FF00FF00]Ryan Bader vs. Ovince St. Preux[/COLOR]
type=video
fanart=http://wallpaperpanda.com/wallpapers/qTy/xx6/qTyxx6pTA.jpg
icon=http://upload.wikimedia.org/wikipedia/en/6/6a/UFN_47_event_poster.jpg
url=plugin://plugin.video.youtube/?path=/root/video&action=play_video&videoid=wW_btInPLl4
########################################################

