########################################################
# ShadowNet.ro
########################################################


########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@

########################################################
title=Networks
cfg=shadownet.ro.cfg@Channels
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/Share.xml
########################################################
title=Sports Networks
cfg=shadownet.ro.cfg@Channels
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/List.xml
########################################################
########################################################

@ENDIF@
@ENDIF@
        
@IF(@PARAM1@==Channels)@

skill=videoTitle
catcher=streams


item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon.tmp|url
item_skill=rss

item_info_name=icon
item_info_from=icon.tmp
item_info_build=%s

item_url_build=%s
@ENDIF@
########################################################       

@ENDIF@  


