########################################################
# DragonStreams
########################################################
#
########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@


skill=videoTitle
catcher=streams
########################################################
title=[COLOR=FF00FF00]General Networks[/COLOR]
cfg=mainMenu.cfg@Channels
icon=special://home/addons/plugin.video.dragon.streams/resources/images/DS/General.jpg
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/Share.xml
########################################################
title=[COLOR=FF00FF00]News Networks[/COLOR]
cfg=mainMenu.cfg@Channels
icon=special://home/addons/plugin.video.dragon.streams/resources/images/DS/News.jpg
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/Sports.xml
########################################################
title=[COLOR=FF00FF00]Coolsport.tv[/COLOR]
director=coolsport.tv
icon=special://home/addons/plugin.video.dragon.streams/resources/images/DS/Coolsport.jpg
url=tv/coolsportz.de.cfg
########################################################
title=[COLOR=FF00FF00]SkySport.tv[/COLOR]
director=skysport.tv
icon=special://home/addons/plugin.video.dragon.streams/resources/images/DS/SkySport.jpg
url=tv/cricfree.tv.cfg
########################################################
title=[COLOR=FF00FF00]FifaEmbed.com[/COLOR]
director=fifaembed.com
icon=special://home/addons/plugin.video.dragon.streams/resources/images/DS/Fifaembed.jpg
url=tv/fifaembed.com.cfg
########################################################
title=[COLOR=FF00FF00]PPV Streams[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.streams/resources/images/DS/PPVStreams.jpg
url=dragonstreams.cfg
########################################################
title=[COLOR=FF00FF00]NFL Streams[/COLOR]
cfg=mainMenu.cfg@Channels
icon=special://home/addons/plugin.video.dragon.streams/resources/images/DS/NFLStreams.jpg
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/List.xml
########################################################
title=[COLOR=FF00FF00]WWE/UFC Replays[/COLOR]
director=DragonStreams
icon=special://home/addons/plugin.video.dragon.streams/resources/images/DS/WWEUFCReplays.jpg
url=Replays/ppvdirect.menu.cfg
########################################################

@ENDIF@
@ENDIF@
        
@IF(@PARAM1@==Channels)@

skill=videoTitle
catcher=streams


item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon.tmp|url
item_skill=rss

item_info_name=icon
item_info_from=icon.tmp
item_info_build=%s

item_url_build=%s


@ENDIF@
########################################################       

@ENDIF@  