########################################################
# DragonStreams
########################################################


########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@

########################################################
title=Networks
cfg=mainMenu.cfg@Channels
icon=http://inviewserieslarryking.us/wp-content/uploads/2013/05/In-View-Hosted-by-Larry-King-and-TV-Networks-Fall-Line-Ups.png
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/Share.xml
########################################################
title=Sports Networks
cfg=mainMenu.cfg@Channels
icon=http://www.fatsgrill.com/images/DirecTV_Sports_Networks.PNG
url=http://k1m0s.googlecode.com/svn/trunk/Livestreams/List.xml
########################################################
########################################################
########################################################
title=[COLOR green]Sports Channels A[/COLOR]
director=fifaembed.com
icon=
url=tv/fifaembed.com.cfg


@ENDIF@
@ENDIF@
        
@IF(@PARAM1@==Channels)@

skill=videoTitle
catcher=streams


item_infos=<title>(.+?)</title><image>(.+?)</image><url>(.+?)</url>
item_order=title|icon.tmp|url
item_skill=rss

item_info_name=icon
item_info_from=icon.tmp
item_info_build=%s

item_url_build=%s
@ENDIF@
########################################################       

@ENDIF@  


